.navbar{
    background-color: rgb(10, 10, 34);
    height: 40px;
}
h1{
    text-align: center;
    color:  rgb(10, 10, 34);
    font-family: 'Times New Roman', 'Times', Arial, sans-serif;
    font-size: 80px;
    color: darkred;
}
a{
    padding-left: 10px;
    font-size: 20px;
    color: white;
    text-decoration: none;
}
.container{
    margin-left: 400px;
    margin-top: 50px;
    height: 500px;
    width: 900px;
    background-color: transparent;
    
}
.rows{
    width:600px;
    background-color: transparent;
    perspective: 1000px;
    
}
.cols{
    transition: 0.6s;
    margin-left: 10px;
    margin-top: 10px;
    width:130px;
    height: 200px;
    float: left;
    color: blue;
    transform-style: preserve-3d;
    background-color: transparent; 
}
img{
    height: 200px;
    width:130px;

}
.cols:active {
    transform: rotateY(-180deg);
  
}
.back{
    transform: rotateY(180deg);
}

.front,.back{
    position: absolute;
    backface-visibility: hidden;
}
body{
	background-color: skyblue;
	background-image: url("cards.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	border-style: solid;
	border-color: black;
	border-width: 20px;
	border-property:inherit;
	padding-bottom: 360px;
	margin-left: -5px;
	margin-right: -5px;
	margin-bottom: -5px;
	margin-top: -5px;
}